body
{
  color: #1e1e1e;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a:link, a:visited
{
  color: #388523;
}

a:hover
{
  color: #55ae3d;
}

#container {
  margin: 25px;
  width: 500px;
}

ul#user_menu {
  margin: 0;
  padding: 5px;
  float: left;
  background: #fbffdb;
  border: 1px #d4e63a solid;
  list-style-type: none;
}

ul#user_menu li {
  float: left;
  padding: 0 5px 0 5px;
}

ul#errors {
  color: #ffffff;
  margin: 0 0 10px 0;
  padding: 5px;
  list-style-type: square;
  background: #800909;
  border: 3px #b90000 solid;
}

ul#errors li {
  margin-left: 20px;
  padding: 5px 0;
}

#user_form {
  clear: both;
}
